<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'artcenter/homepage.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'artcenter/fonts.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'artcenter/mystyle.css' %}" />

<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : SimpleWork 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140225

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<!--<link href="mystyle.css" rel="stylesheet" type="text/css" media="all" />
<link href="homepage.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />-->

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">

		<div id="logo">
			<h1><a href="http://arts.ntu.edu.tw/">臺大藝文中心</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="" accesskey="1" title="">Homepage</a></li>
				<li><a href="program/" accesskey="2" title="">Program</a></li>
				<li><a href="employee/" accesskey="3" title="">Employee</a></li>
				<li><a href="job/" accesskey="4" title="">Job</a></li>
				<li><a href="equipment/" accesskey="5" title="">Equipment</a></li>
				<li><a href="http://localhost:8000/admin/login/?next=/admin/" accesskey="6" title="">Log In</a></li>
			</ul>
		</div>
	</div>
	<div id="header-featured">
		<div id="banner-wrapper">
			<div id="banner" class="container">
				<h2>Where is Arts?</h2>
				<p>來聽一場演講，看一次畫展，來享受春日的樂章，秋晚的戲劇演出，<br>
				或者只是悠閒走過校園，一時興起來訪藝文中心的雅頌坊、工作室、小小的一方綠草地<br>
				- 美，是一種無目的的快樂；藝術，屬於悠閒的心靈 <br>
				- 帶著你的閒心，藝文中心陪你重尋自己的感覺、夢想與心底裡的愛。
				 </p>
				<a href="#detail" class="button">SEE MORE</a> </div>
		</div>
	</div>
</div>
<div id="wrapper">
	<div id="page" class="container">
		<div id="content">
		<a name = "detail">
			<div class="title">
				<h2>中心概述</h2>
				<span class="byline">About Us</span> 
			</div>
			<p><img src="{% static "artcenter/logo.jpg" %}" alt="" class="image image-full"/> </p>
			<!--<p><img src="banner.jpg" alt="" class="image image-full" /> </p>-->
			<p>本校於 95 學年成立「藝文活動推展工作室」，97 學年下學期改制為「藝文中心」，並管理專屬的雅頌坊表演廳，為全校師生舉辦各類精彩的藝文活動。臺灣大學歷史悠久，人文薈萃，不獨為臺灣學術之龍頭，且對於社會風氣、文化傳承及科學人文之創新，亦影響深遠。有鑑於此，李嗣涔校長希望藉由設立「藝文中心」，推廣文學、美學、音樂、戲劇、舞蹈等各類藝術展演與講座，提供臺大師生豐富的藝術饗宴，打造藝術人文新校園，啟發學生對藝術的熱誠，增進其人文素養，使之重視內在心靈，成為兼具專業知識與人文精神之卓越青年。理性與感性兼具的臺大人，智能與性靈並重的臺大人，將是知識人博雅教育的理想呈現，也是臺大對於國家社會的奉獻。 </p>
			<p>藝文中心的建築包含了精緻專業的表演廳 - 雅頌坊，為臺大人規畫各種藝文活動的夢工廠。藝文中心的活動涵括音樂、戲劇、舞蹈、電影、視覺藝術等；活動的方式有動態的演出、靜態的展覽；活動的場地則充分利用臺大校園裡設備完善的室內空間，或開闊自在的戶外場地。活動的演出團體或個人來自校內外，有專業的名家，也有充滿創意、活力的臺大人。活動的時間分布在學期中，小型、輕鬆、生活化的節目多在平日中午，大型、長時間、重量級的表演或演講則多在夜間，而更盛大的系列活動往往會與校慶、杜鵑花節等重要節慶結合。另外，「大師講座」讓臺大人有機會一睹大師風采，「工作坊」則提供較長時間的學習，而不定時邀請的駐校藝術家則將透過課程設計或相關活動，使臺大師生得以更深入藝術的領域。除了期待大家來品賞我們的藝文饗宴，藝文中心也歡迎所有臺大人勇敢作夢、大膽創新，向我們提出展演企畫案，或協助我們的活動；喜好文學創作的同學，更不要忘了本中心主辦的「臺大文學獎」。</p>
			<p>雅頌坊過去曾是美軍在臺營區內的教堂，空間雖不算大，卻非常適合舉辦音樂會、講座及影展、小型劇場等活動，提供臺大校內及鄰近社區豐富的藝文資源。從教堂內向西邊看，穿過彩色的窗，是一片楓葉林。置身展場中，相當愜意，移動你的腳步時，不妨觀察地面、牆上不斷變化的光影，或是走到窗邊欣賞外頭的小樹林！到了晚上，教堂散發靜謐的光，雖在校園的角落，卻給人溫馨小巧的氣氛，從紀錄片導演楊力州的影展到舞蹈家許芳宜的講座；從臺大學生自己的表演到原住民歌手 Suming 的演唱會，晚上的雅頌坊充滿活力與包容力，下次看到我們燈亮著時，請儘管朝我們走來，探頭看看藝文中心又有什麼節目。自早晨到夜晚，藝文中心試圖拓展自己的觸角，將藝術與人文氣息帶給校園，我們相信藝術，更相信每個人都有欣賞藝術的潛力，期待用不同的節目、展覽與你分享。</p>
		</a>
		</div>
		<div id="sidebar">
			<ul class="style1">
				<h4>最新消息</h4>
				<li>
					<a href = "http://arts.ntu.edu.tw/HotNews.aspx?ID=0a395b0e-3fc7-4dcf-83d1-bed8350b2f03">
					<h3>201612 藝文中心小星星錄取公告</h3></a>
					<p>2016/12/23</p>
				</li>
				<li>
					<a href = "http://arts.ntu.edu.tw/HotNews.aspx?ID=cf0bbbd3-b8f5-4ba8-a5cd-d7506643520e">
					<h3>《藝文行動》電子報12月號</h3></a>
					<p>2016/11/28</p>
				</li>
				<li>
					<a href = "http://arts.ntu.edu.tw/HotNews.aspx?ID=6b2135e6-4b89-499e-ba24-6f07553e6afb">
					<h3>【徵才】藝文中心小星星招募！</h3></a>
					<p>2016/11/23</p>
				</li>
				<li>
					<a href = "http://arts.ntu.edu.tw/HotNews.aspx?ID=30f0b950-e668-473c-a51c-45c0078aac73">
					<h3>第一屆臺大書法獎 獲獎名單公告</h3></a>
					<p>2016/10/27</p>
				</li>
				<li>
					<a href = "http://arts.ntu.edu.tw/HotNews.aspx?ID=64082ace-612f-4c65-9e87-6236c706b859">
					<h3>藝術之窗　無人知曉的他方　舞者、演出者甄選錄取名單</h3></a>
					<p>2016/10/10</p>
				</li>
				<li>
					<a href = "http://arts.ntu.edu.tw/HotNews.aspx?ID=4bd7d909-556d-4c68-9428-1d6f6ee16cb9">
					<h3>《藝文行動》電子報11月活動資訊徵稿中</h3></a>
					<p>2016/10/03</p>
				</li>
				<li>
					<a href = "http://arts.ntu.edu.tw/HotNews.aspx?ID=25422fe6-114e-47a3-ab2b-86c8bb9be1ae">
					<h3>颱風警報：藝文中心9/27、9/28閉館，9/29正常上班</h3></a>
					<p>2016/09/27</p>
				</li>
				<li>
					<a href = "http://arts.ntu.edu.tw/HotNews.aspx?ID=5d81d7c2-ab6f-4d79-9868-a6d50afa8a0f">
					<h3>颱風警報：「一張海報的邀約：給大學生的設計入門課」講座順延至9/20舉行</h3></a>
					<p>2016/09/14</p>
				</li>
				<li>
					<a href = "http://arts.ntu.edu.tw/HotNews.aspx?ID=6e5be822-0dfe-4995-933f-7c74b5cdf524">
					<h3>《藝文行動》電子報10月活動資訊徵稿中</h3></a>
					<p>2016/09/12</p>
				</li>
			</ul>
			<div id="stwo-col">
				<div class="sbox1">
					<h2>場地租借</h2>
					<ul class="style2">
						<li>雅頌坊簡介</li>
						<li>申請流程</li>
						<li>檔期查詢</li>
						<li>設備與價格</li>
						<li>租借文件下載</li>
						<li>常見問與答</li>
						<li>交通位置</li>
					</ul>
				</div>
				<div class="sbox2">
					<h2>藝文資訊</h2>
					<ul class="style2">
						<li>其他藝文資訊</li>
						<li>雅頌坊藝文資訊</li>
						<li>好站連結</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="copyright" class="container">
	<p>&copy; Why be normal? We are now standing here, making things happen. The most exciting episode is the one that amazes you.<br> Design by | Suki Wang | Jenny Hung | Andre Chang</a>.</p>
</div>
</body>
</html>
