
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'artcenter/job_detail_stanley.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'artcenter/fonts.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'artcenter/mystyle.css' %}" />
<!--<img src="{% static "artcenter/banner.jpg" %}" alt="My image"/>-->
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : SimpleWork
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140225

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="mystyle.css" rel="stylesheet" type="text/css" media="all" />
<link href="jenny.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">

		<div id="logo">
			<h1><a href="http://arts.ntu.edu.tw/">臺大藝文中心</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li><a href="http://localhost:8000/art_center/" accesskey="1" title="">Homepage</a></li>
				<li><a href="http://localhost:8000/art_center/program/" accesskey="2" title="">Program</a></li>
				<li><a href="http://localhost:8000/art_center/employee/" accesskey="3" title="">Employee</a></li>

				<li class="current_page_item"><a href="http://localhost:8000/art_center/job/" accesskey="4" title="">Job</a></li>
				<li><a href="http://localhost:8000/art_center/equipment/" accesskey="5" title="">Equipment</a></li>
				<li><a href="http://localhost:8000/admin/login/?next=/admin/" accesskey="6" title="">Log In</a></li>
			</ul>
		</div>
	</div>
	<div id="header-featured">
		<div id="banner-wrapper">
			<div id="banner" class="container">
				<h2>JOB</h2>
				<p>For those we love,<br>
				For those we cherish,<br>
				Passion makes perfect.<br>
				We are here serving and telling stories.
				 </p>
				<a href="#detail" class="button">See more</a> </div>
				<!--  用 More button to roll down -->
		</div>
	</div>
</div>
<div id="wrapper">
	<div id="page" class="container">
		<a name = "detail">
		<div id="content">
			<div class="title">
				<h2>職務 : {{job_entry_detail.job_type}} </h2>
				<span class="byline"> </span>
			</div>

			{% if job_entry_detail.job_photo %}
			<p><img src='{{job_entry_detail.job_photo.url }}' alt="" class="image image-full"/></p>
			{% else %}
			<p>no picture</p>
			{% endif %}

		</div>
		</a>
		<div id="sidebar">
			<ul class="style1">
				<h4>職務資料</h4>
				<li>
					<h3>Type</h3>
					<p class = "p1">{{job_entry_detail.job_type}}</p>
				</li>
				<li>
					<h3>Work</h3>
					<p class = "p3">{{job_entry_detail.work}}</p>
				</li>
				<li>
					<h3>Member list</h3>
					
					<p class = "p2">
					{% for Do in job_member_detail %}
						<a href="/art_center/employee/{{Do.employee.id}}/#detail">{{Do.employee.name}}</a>&nbsp&nbsp&nbsp&nbsp
					{% endfor %}	
					</p>
				
				</li>
				<li>
					<h3>Salary/hr</h3>
					<p class = "p1">{{job_entry_detail.salary_per_hour}}</p>
				</li>
			</ul>

			<div id="stwo-col">
				<div class="sbox1">

					<ul>
					<br><br>
						<li class = "current_page_item"><a href="http://localhost:8000/art_center/job/#detail">回到職務列表</a></li>
					</ul>

					<!--<h2>回到員工列表</h2>
					<ul class="style2">
						<li><a href="http://localhost:8000/art_center/employee">GO_back</a></li>
					</ul>-->
				</div>
				<div class="sbox2">
					<ul>
					<br><br>
                    <li class = "current_page_item"><a href="javascript:history.back()">回到上一頁</a></li>
					</ul>
					<!--<h2>藝文資訊</h2>
					<ul class="style2">
						<li>其他藝文資訊</li>
						<li>雅頌坊藝文資訊</li>
						<li>好站連結</li>
					</ul>-->
				</div>
			</div>
		</div>

	</div>
</div>
<div id="copyright" class="container">
	<p>&copy; Why be normal? We are now standing here, making things happen. The most exciting episode is the one that amazes you.<br> Design by | Suki Wang | Jenny Hung | Andre Chang</a>.</p>
</div>
</body>
</html>
