

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'artcenter/program_questionnaire_list_pocheng.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'artcenter/fonts.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'artcenter/mystyle.css' %}" />
<!--<img src="{% static "artcenter/banner.jpg" %}" alt="My image"/>-->
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : SimpleWork
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140225

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="mystyle.css" rel="stylesheet" type="text/css" media="all" />
<link href="program_questionnaire_list.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper">
    <div id="header" class="container">

        <div id="logo">
            <h1><a href="http://arts.ntu.edu.tw/">臺大藝文中心</a></h1>
        </div>
        <div id="menu">
          <ul>
            <li><a href="http://localhost:8000/art_center/" accesskey="1" title="">Homepage</a></li>
            <li class="current_page_item"><a href="http://localhost:8000/art_center/program/" accesskey="2" title="">Program</a></li>
            <li><a href="http://localhost:8000/art_center/employee/" accesskey="3" title="">Employee</a></li>

            <li><a href="http://localhost:8000/art_center/job/" accesskey="4" title="">Job</a></li>
            <li><a href="http://localhost:8000/art_center/equipment/" accesskey="5" title="">Equipment</a></li>
            <li><a href="http://localhost:8000/admin/login/?next=/admin/" accesskey="6" title="">Log In</a></li>
          </ul>
        </div>
    </div>
    <div id="header-featured">
        <div id="banner-wrapper">
            <div id="banner" class="container">
                <h2>QUESTIONNAIR</h2>
                <p>一場表演都是一個蛻變的機會<br>
                    你們的關心與回饋 讓這一場表演不再平凡<br>
                    我們會改變 讓下一次你的到來<br>
                    故事有了嶄新的饗宴<br>
                </p>
                <a href="#detail" class="button">See more</a> </div>
                <!--  用 More button to roll down -->
        </div>
    </div>
</div>
<div id="wrapper">
    <div id="page" class="container">
        <a name = "detail">
        <div id="content">
            <div class="title">
                <h2>問卷: {{program_title}}</h2>
                <span class="byline">Questionnaire list </span>
            </div>

            <ul class = "style1">
            {% if program_questionnaire_detail %}
            {% for Questionnaire in program_questionnaire_detail %}
  			<li>
  				<p class = "wordsize">
                NAME : &nbsp&nbsp{{Questionnaire.audience_name}}<br>
                E-MAIL : &nbsp&nbsp{{Questionnaire.audience_email}}<br>
                COMMENT : &nbsp&nbsp{{Questionnaire.comment}}<br>
                Raiting : &nbsp&nbsp{{Questionnaire.rating}}
                </p>
  			</li>
  			{% endfor %}
            
            {% else %}
                <p> No Questionaire </p>
            {% endif %}
            

            </ul>

        <ul>
            <li>
            <br> 
            <br>
            <p>
<!--   <a href="javascript:history.back()" class="button-1">回到{{program_title}}</a> -->
            <a href="/art_center/program/{{back_id}}/#detail" class="button-1">回到{{program_title}}</a>
            <p>
            </li>

        <ul>
            
        
        </div>
        </a>



    </div>
</div>
<div id="copyright" class="container">
    <p>&copy; Why be normal? We are now standing here, making things happen. The most exciting episode is the one that amazes you.<br> Design by | Suki Wang | Jenny Hung | Andre Chang</a>.</p>
</div>
</body>
</html>
